@font-face {
    font-family: primaryFont;
    src: url(./../Tajawal/Tajawal-Regular.ttf);
}
@font-face {
    font-family: primaryFontBold;
    src: url(./../Tajawal/Tajawal-Bold.ttf);
}
body{
    font-family: primaryFont;
}
.s_contact li a, .s_contact li span{
    font-family: primaryFont !important;
}
#header{
    float: unset !important;
}
.reg-heading{
    font-family: primaryFontBold !important;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px;

}
.reg-form input{
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
}
.precemp{
    margin: 0;
}
.re-btn{
    clear: both;
    display: inline-block;
    cursor: pointer;
    background: #57b89a;
    font-family: 'tajawal',Barlow, sans-serif;
    text-transform: capitalize;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 12px 40px;
    border: 0;
}

@media only screen and (max-width : 991px) {
    .or-line{
        display: none !important;
    }
    .top-hd{
        font-size: 27px;
    }
    .cener-box{
        width: 98% !important;
    }
    .mainiii{
        padding: 0 20px;
    }
}

[dir=rtl] .mainiii{
    text-align: right;
}

[dir=rtl] .s_contact li a:after, .s_contact li span:after {
    content: "";
    border-right: 5px solid #f49c36;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    right: 39px;
    top: 20px;
    display: none;
}
.lan-btn{
    cursor: pointer;
}
select{
    margin-bottom: 20px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
}
.cener-box{
    width: 60%;
    margin: auto;
}
[dir=rtl] .red-line{
    text-align: right;
}
.red-line{
    color: red;
    font-size: 16px;
    margin-bottom: 30px;}
    h3{
    font-family: primaryFont !important;
}
.af-header{
    width: 80%;
    display: table;
    padding: 50px 0px;
}
.af-header img{
    
    width: 280px;
    float: right;

}
.af-content{
    width: 80%;
    margin: auto;
    text-align: center;
}
/* .af-footer{
    background: #268b93;
    width: 100%;
    display: table;
    height: 60px;
    position: absolute;
    bottom: 0;
} */